#rootSortingArray {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 25px 10px;
  width: 650px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

#array {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-content: center;
  margin-bottom: 15px;
}

#rootSortingArray #description {
  font-size: x-large;
  margin-bottom: 15px;
}

#rootSortingArray #steps {
  font-size: large;
}
