#comparison-root #title {
  font-size: 24px;
  letter-spacing: 3px;
  font-style: italic;
}

#algorithm-select {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 25px;
}

#algorithm-select .algorithm-select{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 5px;
    font-size: 16px;
}