#recent-algorithms-root {
  box-sizing: content-box;
  max-width: 1000px;
  padding: 0 25px;
}

#recent-algorithms {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid gray;
  padding: 20px;
  background-color: #eeeeee;
  margin-bottom: 50px;
  margin-top: 10px;
}

.section-title {
  box-sizing: border-box;
  text-align: start;
  font-size: 20pt;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.algorithm-card {
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  width: 300px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  cursor: pointer;
}

.detail-wrap {
  width: 100%;
}

.algorithm-name {
  width: 100%;
  font-size: x-large;
  font-weight: bold;
  margin: 0;
}

.algorithm-category {
  margin: 0;
  width: 100%;
  font-size: large;
}

.fav-icon {
  margin-top: 20px;
}
